@use '@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: mat.define-palette(mat.$indigo-palette);
$primary: mat.get-color-from-palette($primary-palette);
$primary-contrast: mat.get-color-from-palette($primary-palette, default-contrast);

$accent-palette: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$accent: mat.get-color-from-palette($accent-palette);
$accent-contrast: mat.get-color-from-palette($accent-palette, default-contrast);

// The warn palette is optional (defaults to red).
$warn-palette: mat.define-palette(mat.$red-palette);
$warn: mat.get-color-from-palette($warn-palette);
$warn-contrast: mat.get-color-from-palette($warn-palette, default-contrast);

/*
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);*/
