@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/borders";
@import "theme/variables";

//@import '~@swimlane/ngx-datatable/release/index.css';
//@import '~@swimlane/ngx-datatable/release/themes/material.css';
//@import '~@swimlane/ngx-datatable/release/assets/icons.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.
//
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

//// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Workaround for https://github.com/angular/material2/issues/4580.
mat-form-field .mat-form-field {
  &-underline {
    position: static;
    bottom: auto;
  }

  &-subscript-wrapper {
    position: static;
  }
}

.mat-snack-bar-container.mat-warn {
  color: $warn-contrast;
  background-color: $warn;

  .mat-simple-snackbar-action {
    color: mat-color($accent-palette, 50);
  }
}

.toolbar-search-box {
  .mat-form-field-wrapper {
    padding-bottom: .45em;
  }
}

.pb-0 .mat-form-field-wrapper {
  padding-bottom: 0;
}

.cells-px-3 {
  .mat-cell, .mat-header-cell, .mat-footer-cell {
    @extend .px-3;
  }
}

.main-fab-button {
  position: absolute!important;
  right: 20px;
  bottom: 20px;
}

.mat-tooltip.mat-warn {
  background-color: $warn;
  font-size: 14px;
}
